<main class="footer-container" role="footer element">
  <mat-card class="footer-card">
    <mat-card-content class="footer-content">
      <section class="company" role="company details">
        <h4>Company</h4>
        <ul aria-details="company links">
          <li>Home</li>
          <li>About Us</li>
          <li>Blog</li>
          <li>Careers</li>
        </ul>
      </section>
      <section class="support">
        <h4>Support</h4>
        <ul aria-details="support links">
          <li>Help</li>
          <li>FAQs</li>
          <li>Contact Us</li>
        </ul>
      </section>
      <section class="follow">
        <h4>Follow us</h4>
        <ul aria-details="social links">
          <li>
            <mat-icon fontIcon="facebook"></mat-icon>
            facebook
          </li>
          <li>
            <mat-icon fontIcon="add_a_photo"></mat-icon>
            Instagram
          </li>
        </ul>
      </section>
    </mat-card-content>
  </mat-card>
</main>
