.container {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 1rem;

  mat-card {
    box-shadow: none;
  }
  .title {
    border-radius: 2px;
    background-color: #28939c;
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 20px;
  }

  .landmark {
    display: flex;
    gap: 4%;

    .item {
      flex-basis: 48%;
      color: #002a3a;
      font-weight: bold;
      font-size: large;

      .city-img {
        height: 20rem;
        margin: 1rem;
        background-repeat: no-repeat;
      }
    }
  }
}
