.container {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 1rem;

  mat-card {
    box-shadow: none;
  }
  .title {
    border-radius: 2px;
    background-color: #28939c;
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 20px;
  }

  // display landmark picture and map using flex
  .landmark {
    display: flex;
    gap: 4%;
    justify-content: center;

    .img-element {
      padding-left: 5rem;
    }

    .item {
      flex-basis: 48%;
      color: #002a3a;
      font-weight: bold;
      font-size: large;

      .city-img {
        width: 20rem;
        height: 20rem;
        margin: 1rem;
        background-repeat: no-repeat;
      }
    }

    .map {
      width: 20rem;
      height: 22rem;
    }
  }

  @media (max-width: 800px) {
    .landmark {
      flex-direction: column;

      .map-element {
        padding-left: 5rem;
      }
    }
  }
}
