<app-city-banner [city]="city"></app-city-banner>
<section class="container" aria-label="city details page">
  <mat-card>
    <mat-card-title class="title" aria-label="iconic landmarks"
      >Discover iconic landmarks that define the cityscape</mat-card-title
    >
  </mat-card>
  <!-- Show popular landmarks -->
  <mat-tab-group
    *ngIf="city"
    mat-stretch-tabs
    class="landmark-group"
    aria-details="landmarks tabs"
    tabindex="0"
  >
    <mat-tab
      *ngFor="let landmark of city.landmarks"
      label="{{ landmark }}"
      class="landmark-tab"
      tabindex="0"
    >
      <section class="landmark">
        <mat-card
          class="item img-element"
          aria-label="how to reach"
          tabindex="0"
        >
          <mat-card-header>How to reach ? </mat-card-header>
          <mat-card-content>
            <figure
              class="city-img"
              backgroundImage
              [imageName]="city.name"
            ></figure>
          </mat-card-content>
        </mat-card>
        <mat-card class="item map-element" tabindex="0">
          <mat-card-content class="map-frame">
            <iframe
              class="map"
              [src]="getMapUrl(landmark)"
              loading="lazy"
              zoom="21"
              allowfullscreen
            >
            </iframe>
          </mat-card-content>
        </mat-card>
      </section>
    </mat-tab>
  </mat-tab-group>
</section>
