<mat-toolbar color="primary" role="app navigation">
  <nav class="app-toolbar">
    <aside class="logo-container" aria-details="logo">
      <span>
        <mat-icon>
          <span>travel_explore</span>
        </mat-icon>
        City Explore
      </span>
    </aside>

    <mat-card
      color="primary"
      class="menu-items"
      aria-details="hamburger menu"
      tabindex="0"
    >
      <button mat-raised-button [matMenuTriggerFor]="menu" class="menu-btn">
        <mat-icon>menu</mat-icon>
      </button>
      <section class="menus" aria-details="menu">
        <mat-menu #menu="matMenu" class="red" tabindex="0">
          <button mat-menu-item>
            <mat-icon>dialpad</mat-icon>
            <span>Select City</span>
          </button>
          <button mat-menu-item>
            <mat-icon>help</mat-icon>
            <span>Help</span>
          </button>
          <button mat-menu-item>
            <mat-icon>call</mat-icon>
            <span>Contact Us</span>
          </button>
        </mat-menu>
      </section>
    </mat-card>
  </nav>
</mat-toolbar>
